In [2]:
import os 
import pandas as pd
import json

In [3]:
movie = pd.read_json('movie.json')
movie

                                                  movie
0     {'Id': 1, 'Title': 'Inception', 'Overview': 'C...
1     {'Id': 2, 'Title': 'Interstellar', 'Overview':...
2     {'Id': 3, 'Title': 'The Dark Knight', 'Overvie...
3     {'Id': 4, 'Title': 'Deadpool', 'Overview': 'De...
4     {'Id': 5, 'Title': 'The Avengers', 'Overview':...
...                                                 ...
9990  {'Id': 9995, 'Title': 'Tough Guys', 'Overview'...
9991  {'Id': 9996, 'Title': 'The Road to Guantanamo'...
9992  {'Id': 9997, 'Title': 'Lassie Come Home', 'Ove...
9993  {'Id': 9998, 'Title': 'Black Is King', 'Overvi...
9994  {'Id': 9999, 'Title': 'Made in Italy', 'Overvi...

[9995 rows x 1 columns]

In [ ]:
# split to 8 files 

with open('movie.json', 'r', encoding='utf-8') as file:
    js= json.load(file)

chunks = 8
movies = js['movie']
movies_per_chunk = len(movies)// chunks

for current_chunk in range(chunks):
    with open('movie_' + str(current_chunk) + '.json', 'w') as outfile:
        to_write = {
            'movie': movies[current_chunk * movies_per_chunk:(current_chunk + 1) * movies_per_chunk]
        }
        json.dump(to_write, outfile, indent = 4)